* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(45, 153, 130);
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
}

.contenedor-padre, .contenedor-superior {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  background-color: rgb(45, 153, 130);
}

.encabezado {
  height: 70px;
  padding: 0.9em 0 1em 1em;
  background-color: black;
  color: white;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;

  width: 100%;
}

.container {
  align-content: space-between;
  margin: 2em;
  background-color: rgb(248, 242, 212);
}

/* TABLAS */
.ventas {
  width: 100%;
  margin: 2em 1em 2em 2em;
  background-color: rgb(248, 242, 212);
}

.boton-nv {
  float: right;
  border-radius: 10%;
  background-color: rgb(238, 80, 80);
  cursor: pointer;
  margin-top: 0.3em;
  margin-right: 0.9em;
  padding: 0.5em 0.7em;
  color: white;
  font-weight: bold;
}

.ventas,
.ventasps {
  overflow-x: auto;
}

.boton-nv:hover {
  background-color: rgb(252, 87, 87);
}

.tabla-nv,
#tablaCargarDatos,
.tit-nv {
  padding: 0.7em 3.5em;
  text-align: center;
}

.tabla-estadisticas {
  padding: 0.7em 3em;
  text-align: center;
}

.tit-vps {
  padding: 1em 2em 1em;
}

.cont-vps,
b {
  padding: 0.5em 4em;
  font-size: 0.8em;
}

.texto-fijo {
  padding: 1.5em 2em 1em 2em;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
}

td {
  padding: 0.9em 0.5em 0.6em 0.5em;
  border-bottom: 0.5px solid black;
}

th {
  border-collapse: collapse;
  border-bottom: 1px solid black;
  justify-content: center;
}

/* MODALES */

.ocultar {
  display: none;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(55, 50, 78, 0.548);
  position: fixed;
  top: 0;
  left: 0;
}

.icono-editado {
  color: green;
  border: none;
  background-color: none;
}

.icono-eliminado {
  color: red;
  border: none;
  background-color: none;
}

.botcolor {
  background-color: green;
  color: white;
  border-radius: 4px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  padding: 5px;
}

.modal {
  border-radius: 5px;
  margin: 3% auto;
  width: 25%;
  background-color: rgb(248, 242, 212);
}

form {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.modal form > label,
.modal > h2 {
  margin: 10px 20px 10px 20px;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: #0b525b;
  font-weight: bold;
}

.modal form > select,
.modal form > input[type="date"] {
  margin: 10px 20px 20px 20px;
  height: 30px;
}

.modal form > .componentesSelect {
  height: 60px;
}

.modal form > .componentesSelect1 {
  height: 60px;
}

.texto-modal {
  font-size: 17px;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
  margin-left: 20px;
}

.contiene-botones {
  text-align: right;
  background-color: lightgrey;
  margin-top: 18px;
  padding: 19px;
}

.btn-guard {
  margin-left: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 5px;
  background-color: #2fa051;
  color: white;
  font-weight: bold;
}

.btn-guard:hover {
  background-color: #70be5c;
}

.boton-cancelar {
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 5px;
  background-color: rgb(238, 80, 80);
  color: white;
  font-weight: bold;
}

.boton-cancelar:hover {
  background-color: rgb(252, 87, 87);
}
/* RESPONSIVE */

@media (max-width: 600px) {
  body {
    background-color: rgb(45, 153, 130);
  }

  .modal {
    width: 45%;
  }
  
  .contenedor-padre{
  margin-top: 5em ;
  }
  
  .contenedor-superior {
   display: flex;
   flex-direction: column;
    }
    
    .tabla-nv, #tablaCargarDatos, .tit-nv {
      padding:  1.7em;
      }
      
    th, td, p, .cont-vps, .tdTabla, .texto-fijo, #productoEstrella
      b {
        
        font-size: 1.8em;
  
        text-align: center;
      }
       
      .icono-editado, .icono-eliminado  {
        
        font-size: 1em;
        
      }
       h2{
        font-size: 1.9rem;
       
        text-align: center;
       }
      
}
